# Folders

.idea
venv
__pycache__

scripts/old
em32/
sofa/
mat/
chosen_rirs/
input/
results/
armodels/
images/
audio/vst_rirs
results_SDN_matching
results_analysis_notebook.ipynb

# Extensions
*.reapeaks
*.bak
*.html
*.pdf
*.zip